.MovieCastThumb article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 0 !important;
}

.MovieCastThumb .title {
  margin-left: 0;
}

.MovieCastThumb h3,
.MovieCastThumb p {
  display: inline-block !important;
}

.MovieCastThumb h3 {
  font-family: "Roboto" sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 0;

  color: #e6f7ff;
}

.MovieCastThumb p {
  font-family: "Roboto" sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;

  color: #a1d1e6;
}

.MovieCastThumb img {
  height: 180px;
  width: auto;
}
