.MovieDetail-header {
  height: 400px;
  width: 60%;
  margin: auto;
}

.MovieDetail-header-image {
  position: relative;
}

.MovieDetail-header-image .fa {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #ffffff;
  margin-left: 10px;
  z-index: 1;
  font-size: 1.25em;
  font-weight: 100;
}

.MovieDetail-header img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.MovieDetail-details article {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: -20px !important;
}

.MovieDetail-details .title {
  text-align: left;
  margin-left: 60px;
  padding-bottom: 2em;
}

.MovieDetail-details .title h2 {
  margin-bottom: 0;
}

.MovieDetail-details .title .genres,
.MovieDetail-production-companies .links p {
  font-size: 0.75em;
}

.MovieDetail-details-summary {
  display: flex;
  flex-direction: row;
}

.MovieDetail-details img {
  height: 300px;
  width: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5), 0px 8px 16px rgba(0, 0, 0, 0.5),
    0px 16px 32px rgba(0, 0, 0, 0.5);
}

.MovieDetail-details hr {
  border: 1px solid #0f303d;
  margin: 30px 0;
}

.MovieDetail-details article .title h2 {
  font-family: "Monserrat" sans-serif !important;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 30px;
  /* or 107% */

  color: #e3f4fc;
}

.MovieDetail p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  color: #b8d8e6;
  margin-bottom: 0;
}

.MovieDetail-overview,
.MovieDetail-cast {
  width: 100%;
  margin: auto;
  text-align: left;
}

.MovieDetail-overview h2,
.MovieDetail-cast h2,
.MovieDetail-links h2,
.MovieDetail-production-companies h2 {
  font-family: "Montserrat" sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #e3f4fc;
}

.MovieDetail-overview p {
  font-family: "Roboto" sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  color: #9fbbc7;
}

.MovieDetail-production-companies .links .link {
  margin-bottom: 10px;
}

.MovieDetail-production-companies img {
  margin-right: 10px;
  background-color: #fff;
  width: auto;
  height: 80px;
  box-shadow: none;
  margin-bottom: 0;
}

.MovieDetail-links,
.MovieDetail-production-companies {
  width: 100%;
  margin: auto;
  text-align: left;
}

.MovieDetail-links .links {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.MovieDetail-links img {
  height: 60px;
  width: auto;
  margin-bottom: 0;
}

.MovieDetail-links .fa {
  font-size: 60px;
  margin-left: 0.5em;
  color: #9fbbc7;
}

@media screen and (max-width: 1300px) {
  .MovieDetail-header {
    width: 80%;
  }

  .MovieDetail-details article {
    margin-top: -10px !important;
  }
}

@media screen and (max-width: 992px) {
  .MovieDetail-header {
    width: 90%;
  }

  .MovieDetail-details article {
    margin-top: -80px !important;
  }
}

@media screen and (max-width: 767px) {
  .MovieDetail-header {
    width: 100%;
  }

  .MovieDetail-details article {
    margin-top: -250px !important;
  }

  .MovieDetail-details article img {
    height: 150px;
  }

  .MovieDetail-details article .title {
    margin-left: 12px;
    padding-bottom: 18px;
  }

  .MovieDetail-details article .title h2 {
    font-size: 22px;
  }

  .MovieDetail-details article .title p,
  .MovieDetail-overview p {
    font-size: 12px;
    line-height: 18px;
  }
}
