#search {
  width: 500px;
}

.SearchBox input::placeholder {
  color: #01d277 !important;
}

.SearchBox input {
  border-radius: 50px;
}

.SearchBox input:focus {
  border: solid 1px #01d277;
  box-shadow: 1px 1px 15px 0px #01d277;
}

.SearchBox .fa {
  color: #01d277;
  margin-left: -40px;
}

@media screen and (max-width: 992px) {
  #search {
    width: 400px;
  }
}
