body {
  min-height: 100vh;
  background-color: rgb(8, 27, 35);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  color: #9fbbc7;
  font-family: "Roboto", sans-serif;
  margin-bottom: 5em;
}
